<div class="register register4" style="background-image: url({{bgimg}});">
	<div class="reg">
 		<div class="tel regcon">
 			<input type="number" name="phone" class="text_info" id="phone" oninput="if(value.length>11)value=value.slice(0,11)" placeholder="请输入手机号" />
 		</div>
 		<div class="lingqu">
 			<div class="lq_btn"><img src="{{img}}"/></div>
 			<input type="submit" value="" id="submit" />
 		</div>
 		<div class="prompt_box">
 			<span class="prompt"></span>
 		</div>
	</div>
</div>