<ul class="contents">
	<li class="red_box gotoreg">
		<img class="cont_bg" src="{{img1}}"/>
		<!--<p class="cont_btn"><img src="images/btn/btn2.png"/></p>-->
	</li>
	<li class="vip_box">
		<img class="cont_bg" src="{{img2}}"/>
		<!--<p class="cont_btn"><img src="images/btn/btn1.png"/></p>-->
	</li>
</ul>